<div id="home" class="view mblView">
	<!-- left -->
	<div data-dojo-type="dojox.app.widgets.Container" class="navPane" data-app-region="center">
		<h1 data-app-region="top" data-dojo-type="dojox.mobile.Heading">{{app-name}}:home</h1>
		<div data-dojo-type="dojox.app.widgets.Container" data-app-region="left" data-dojo-props="scrollable:'true'">
			<h2 data-dojo-type="dojox.mobile.EdgeToEdgeCategory" style="height: 32px;" data-app-region="top">Navigation</h2>
			<ul data-dojo-type="dojox.mobile.RoundRectList" data-app-region="center">
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'page',target:'page',url:'#page'}">
					show page
				</li>
			</ul>
		</div>
	</div>
</div>